<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>924285319412-u4heea8csfsccmq80fq5jet430a5h4rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924285319412-u4heea8csfsccmq80fq5jet430a5h4rs</string>
	<key>API_KEY</key>
	<string>AIzaSyDT8xnGenrDQ7UxAZ3Y3Pr_K-DOHzkopuw</string>
	<key>GCM_SENDER_ID</key>
	<string>924285319412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuvoton.nuwicam</string>
	<key>PROJECT_ID</key>
	<string>numaker-nuwicam-c27aa</string>
	<key>STORAGE_BUCKET</key>
	<string>numaker-nuwicam-c27aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:924285319412:ios:1dffcceb3e0412ff</string>
	<key>DATABASE_URL</key>
	<string>https://numaker-nuwicam-c27aa.firebaseio.com</string>
</dict>
</plist>